@import '../templates/btn.scss';

%imgTemplate {
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.general-details {
  border-bottom: 1.5px solid #cccccc77;
  .container {
    max-width: 1220px;
    padding: 23px 10px;
    margin: 0 auto;
    .general-details__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .general-details__selectors {
        display: flex;
        div {
          margin-right: 25px;
          font-weight: 600;
          line-height: 21px;
          color: #666666;
          border-bottom: 2px solid transparent;
          transition: 0.15s ease-in;
          cursor: pointer;
          &:hover {
            border-color: #6666666b;
            color: #000000;
          }
          &:last-child {
            margin: 0;
          }
          &.active {
            color: #000000;
            border-color: #0156ff;
            &:hover {
              border-color: #0156ff;
            }
          }
        }
      }
      .general-details__actions {
        display: flex;
        .actions__info-cost {
          display: flex;
          align-items: center;
          font-size: 13px;
          line-height: 21px;
          .cost {
            font-weight: 600;
            padding-left: 4px;
          }
        }
        .actions__amount-selector {
          margin: 0px 21px 0px 16px;
          width: 70px;
          height: 50px;
          background: #ebebeb;
          border-radius: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background-color 0.15s ease-in;
          &:hover {
            background-color: #dfe4fa;
          }
          .amount-selector__value {
            line-height: 29px;
            font-weight: 600;
            width: 20px;
          }
          .amount-selector__arrows {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 4px;
            div {
              width: 6px;
              height: 6px;
              opacity: 0.45;
              display: flex;
              transition: opacity 0.1s ease-in;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
              img {
                @extend %imgTemplate;
              }
            }
            div:first-child {
              transform: rotate(-90deg);
              margin-bottom: 10px;
            }
            div:last-child {
              position: relative;
              left: 0.5px;
              transform: rotate(90deg);
            }
          }
        }
        .actions__buttons {
          display: flex;
          %actionBtn {
            @extend %btnTemplate;
            height: 100%;
            font-weight: 600;
            font-size: 13px;
            padding: 0px 30px;
            transition: opacity 0.05s ease-in;
            &:hover {
              opacity: 0.85;
            }
            &:active {
              opacity: 0.95;
            }
          }
          .buttons__add-btn {
            height: inherit;
            button {
              @extend %actionBtn;
              background: #0156ff;
              color: #ffffff;
            }
          }
          .buttons__paypal-btn {
            margin-left: 13px;
            height: inherit;
            button {
              @extend %actionBtn;
              background: #ffb800;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
