@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.footer {
  background: #020203;
  .container {
    max-width: 1220px;
    margin: 0 auto;
    color: #ffffff;
    .footer__row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .footer__top {
        display: flex;
        justify-content: space-between;
        padding-top: 47px;
        .footer__text {
          display: flex;
          flex-direction: column;
          .text__title {
            font-weight: 500;
            font-size: 34px;
            line-height: 45px;
          }
          .text__subtitle {
            font-weight: 300;
            font-size: 15px;
            line-height: 21px;
            margin-top: 13px;
          }
        }
        .footer__form {
          align-self: flex-end;
          display: flex;
          .form__input {
            input {
              width: 390px;
              border: 2px solid #ffffff;
              border-radius: 4px;
              background: none;
              color: #ffffff;
              font-weight: 300;
              line-height: 20px;
              padding: 9px 5px 9px 10px;
              @include placeholder() {
                color: #ffffff;
              }
              &:focus {
                @include placeholder() {
                  color: rgba(0, 0, 0, 0);
                }
              }
            }
          }
          .form__btn {
            min-height: 100%;
            button {
              cursor: pointer;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 2px solid #0156ff;
              border-radius: 24px;
              background: #0156ff;
              color: #ffffff;
              font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              margin-left: 25px;
              padding: 0 32px;
              transition: 0.15s ease-in;
              &:hover {
                background: none;
              }
            }
          }
        }
      }
      .footer__columns {
        display: flex;
        justify-content: space-between;
        margin: 50px 0px 62px 0px;
        .columns__item {
          .item__title {
            color: rgba(255, 255, 255, 0.5);
            margin-bottom: 30px;
          }
          p {
            font-size: 13px;
            cursor: pointer;
            margin-bottom: 12px;
            &:hover {
              text-decoration: underline;
            }
            &:last-child {
              margin: 0;
            }
          }
          &:last-child {
            p {
              cursor: text;
              text-decoration: none;
            }
            .contacts {
              text-decoration: underline;
              color: rgb(29, 108, 255);
              cursor: pointer;
            }
          }
        }
      }
      .footer__refs {
        display: flex;
        justify-content: space-between;
        padding: 17px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        .refs__media {
          display: flex;
          div {
            cursor: pointer;
            opacity: 0.2;
            height: 20px;
            width: 20px;
            transition: opacity 0.15s ease-in;
            img {
              height: 100%;
              max-height: 100%;
              width: 100%;
            }
            &:hover {
              opacity: 0.75;
            }
            &:first-child {
              margin-right: 14px;
            }
          }
        }
        .refs__payment-methods {
          display: flex;
          div {
            margin-right: 10px;
            width: 34px;
            height: 22px;
            img {
              height: 100%;
              width: 100%;
              max-width: 100%;
            }
            &:last-child {
              margin: 0;
            }
          }
        }
        .refs__copyrights {
          align-self: flex-end;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          color: #ffffff;
          opacity: 0.5;
        }
      }
    }
  }
}
